<div class="card-container">
    <a class="card">
        <mat-icon>assignment</mat-icon>
        <h3><span>Step 1</span></h3>
        <span>House owner contacts HouseWise representative and authorizes him/her to rent out the property(flat/bunglow) on the house owner's behalf</span>
    </a>

    <a class="card">
        <mat-icon>dashboard</mat-icon>
        <h3><span>Step 2</span></h3>
        <span>House owner hands over keys and relevant property documents to the HouseWise representative</span>
    </a>

    <a class="card">
        <mat-icon>home</mat-icon>
        <h3><span>Step 3</span></h3>
        <span>HouseWise hunts for tenants, the ones working with marquee companies and looking out for a house on rent.</span>
     </a>

    <a class="card">
        <mat-icon>folder_special</mat-icon>
        <h3><span>Step 4</span></h3>
        <span>On finalizing the tenant, HouseWise does the following;
            a) Police verification of the prospective tenant
            b) Ask for proof of employment (HR letter) from the prospective tenant</span>
      </a>

    <a class="card">
        <mat-icon>folder_special</mat-icon>
        <h3><span>Step 5</span></h3>
        <span>After successful verification of the prospective tenant, HouseWise prepare the contract to be signed by both parties - house owner and the tenant. House owner can pre-authorize HouseWise representative to sign on the owner's behalf.</span>
     </a>

    <a class="card">
        <mat-icon>folder_special</mat-icon>
        <h3><span>Step 6</span></h3>
        <span>a) Tenant transfers monthly rent to house owner's account.
            b) HouseWise continues to maintain property till end of the lease.</span>
    </a>
</div>

