.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 600;
    z-index: 100;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar span {
    margin: 0 16px;
}

.spacer {
    flex: 1;
}

a,
a:visited,
a:hover {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #125699;
}