<div class="description-container" fxLayout="row" fxLayoutAlign="space around start" fxLayoutGap="16px">
    <mat-card class="description-card" fxFlex.gt-sm="50%" fxLayout="column" fxFlex fxLayoutAlign="center">
        <h3><span>Rental Mangement</span></h3>
        <span>House owner contacts HouseWise representative and authorizes him/her 
            to rent out the property(flat/bunglow) on the house owner's behalf</span>
    </mat-card>
    <mat-card class="description-card" fxFlex.gt-sm="50%" fxFlex fxLayoutAlign="center">
        <img src="assets/propertymanagement.jpg">
    </mat-card>
</div>
<div class="description-container" fxLayout="row" fxLayoutAlign="space around start" fxLayoutGap="16px">
    <mat-card class="description-card" fxFlex.gt-sm="50%" fxFlex fxLayoutAlign="center">
        <img src="assets/endtoend.png">
    </mat-card>
    <mat-card class="description-card" fxFlex.gt-sm="50%" fxLayout="column" fxFlex fxLayoutAlign="center">
        <h3><span>End to End Services</span></h3>
        <span>House owner hands over keys and relevant property documents to the HouseWise representative</span>
    </mat-card>
</div>
<div class="description-container" fxLayout="row" fxLayoutAlign="space around start" fxLayoutGap="16px">
    <mat-card class="description-card" fxFlex.gt-sm="50%" fxLayout="column" fxFlex fxLayoutAlign="center">
        <h3><span>Property Management</span></h3>
        <span>House owner contacts HouseWise representative and authorizes him/her 
            to rent out the property(flat/bunglow) on the house owner's behalf</span>
    </mat-card>
    <mat-card class="description-card" fxFlex.gt-sm="50%" fxFlex fxLayoutAlign="center stretch">
        <img src="assets/searchhome.png">
    </mat-card>
</div>
<div class="description-container" fxLayout="row" fxLayoutAlign="space around start" fxLayoutGap="16px">
    <mat-card class="description-card" fxFlex.gt-sm="50%" fxFlex fxLayoutAlign="center stretch">
        <img src="assets/onlineagreement.PNG">
    </mat-card>
    <mat-card class="description-card" fxFlex.gt-sm="50%" fxLayout="column" fxFlex fxLayoutAlign="center">
        <h3><span>Online Rent Agreement</span></h3>
        <span>House owner hands over keys and relevant property documents to the HouseWise representative.</span>
        <span>a) Tenant transfers monthly rent to house owner's account.</span>
        <span> b) HouseWise continues to maintain property till end of the lease.</span>
    </mat-card>
</div>