<div fxLayout="row" fxLayoutAlign="center space-around" fxLayoutGap="10px" class="social-media">
    <span>
        <a href="https://www.facebook.com/profile.php?id=100012512077239">
            <i class="fab fa-twitter"></i>
        </a>
    </span>
    <span>
        <a href="https://www.facebook.com/profile.php?id=100012512077239">
            <i class="fab fa-facebook"></i>
        </a>
    </span>

    <span>
        <a href="https://www.facebook.com/profile.php?id=100012512077239">
            <i class="fab fa-google"></i>
        </a>
    </span>
    <span>
        <a href="https://www.facebook.com/profile.php?id=100012512077239">
            <i class="fab fa-instagram"></i>
        </a>
    </span>
    <span>
        <a href="https://www.facebook.com/profile.php?id=100012512077239">
            <i class="fab fa-linkedin"></i>
        </a>
    </span>
</div>