<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="social-media">
    <span>
    <a href="https://www.facebook.com/profile.php?id=100012512077239"><i class="fab fa-twitter"></i></a>
</span>
    <span>
    <a href="https://www.facebook.com/profile.php?id=100012512077239">
        <i class="fab fa-facebook"></i></a>
</span>

    <span>
    <a href="https://www.facebook.com/profile.php?id=100012512077239">
        <i class="fab fa-google"></i></a>
</span>
    <span>
    <a href="https://www.facebook.com/profile.php?id=100012512077239">
        <i class="fab fa-instagram"></i>\
    </a>
</span>
    <span>
    <a href="https://www.facebook.com/profile.php?id=100012512077239">
        <i class="fab fa-linkedin"></i>
    </a>
    
</span>
</div>

<!-- <ul>
    <li><a href="https://www.facebook.com/profile.php?id=100012512077239"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/raj-kumar-web-designer/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
</ul> -->