<div class="description-container" fxLayout="row" fxLayoutAlign="space around start" fxLayoutGap="16px">
    <mat-card class="team-card" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <mat-card-header fxLayoutAlign="center stretch" fxFlex="1 1 30%" fxFlex.sm="1" fxFlex.xs="1">
            <div mat-card-avatar class="example-header-image"></div>
            <!--  <img mat-card-image src="assets/ramakanth.jpg"> -->
            <mat-card-title>Ramakanth Reddy</mat-card-title>
            <mat-card-subtitle>Software Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxFlex>
            <p>
                Researching, designing, implementing and managing software programs. <br /> Identifying areas for modification in existing programs and subsequently developing these modifications.
            </p>
        </mat-card-content>
    </mat-card>
</div>
<div class="description-container" fxLayout="row" fxLayoutAlign="space around start" fxLayoutGap="16px">
    <mat-card class="team-card" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <mat-card-header fxLayoutAlign="center stretch" fxFlex="1 1 30%" fxFlex.sm="1" fxFlex.xs="1">
            <div mat-card-avatar class="example-header-image1"></div>
            <!--  <img mat-card-image src="assets/ramakanth.jpg"> -->
            <mat-card-title>Bhargavi Beesu</mat-card-title>
            <mat-card-subtitle>Software Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxFlex>
            <p>
                Researching, designing, implementing and managing software programs. <br /> Identifying areas for modification in existing programs and subsequently developing these modifications.
            </p>
        </mat-card-content>
    </mat-card>
</div>