<div class="container">
    <div class="page-sections" id='Home'>
        <img src="assets/keys.jpg">
    </div>

    <div id='Services' class="page-sections">
        <h1 fxLayoutAlign="center"> Services</h1>
        <!--  <app-services-card></app-services-card> -->
        <app-description></app-description>
    </div>

    <!--   <div id='How It Works' class="page-sections">
        <h1 fxLayoutAlign="center"> How It Works</h1>
        <app-how-it-works></app-how-it-works>
    </div> -->

    <div id='Team' class="page-sections">
        <h1 fxLayoutAlign="center">Team</h1>
        <app-team></app-team>
    </div>

    <div id='Contact Us' class="page-sections">
        <h1 fxLayoutAlign="center">Contact us</h1>
        <app-contactform></app-contactform>
    </div>

</div>